* {
  animation-name: fade-in;
  animation-duration: 2.5s;
}
/* giving body a margin of 0px */
body {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 200px;
  background: rgb(225, 235, 238);
}
h3 {
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.random{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.port-links {
  
  font-size: 30px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.port-links:hover {
  transition: 1s;
  text-decoration: underline;
}

.get {
  
  margin: 40px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  width: 50%;
  height: 100px;
  align-items: center;
}

.get:hover: {
  color: azure;
  border: black;
  text-decoration: underline;
  font-size: 45;
  font-style: normal;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 0 40px 40px rgb(96, 195, 235) inset;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.beats-body {
  font-family: "Quicksand", sans-serif;
}

.pads {
  background-color: lightskyblue;
  width: 100%;
  display: flex;
}

.pad1:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad2:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad3:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad4:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad4:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad5:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pad6:hover {
  transform: scale(1.2);
  transition: 1s;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: maroon;
}

.pad2 {
  background: seagreen;
}

.pad3 {
  background: slategrey;
}

.pad4 {
  background: violet;
}

.pad5 {
  background: yellow;
}

.pad6 {
  background: lightseagreen;
}

.tap {
  font-family: "Quicksand", sans-serif;
}

.hear {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 143, 185));
  padding: 0;
}

.name-head {
  font-size: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.about-header {
  font-size: 100px;
}

.subhead {
  text-decoration: underline;
  padding-top: 0px;
  margin-bottom: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.paragraph-skills {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 143, 185));
  color: whitesmoke;
  padding: 100px;
  font-size: 30px;
}

.skills {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.lists {
  padding-top: 40px;
  font-size: 60px;
  color: whitesmoke;
  font-weight: 1px;
  font-family: "Quicksand", sans-serif;
}

.skill-list {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 143, 185));
  padding-bottom: 300px;
  list-style-type: none;
}
/*  */

/* using grid to format the layout of the page */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* building nav-bar using flexbox for the entire nav-wrapper class */
.nav-wrapper {
  background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 143, 185));
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

/* using flexbox for upper-left class positioning */
.upper-left {
  display: flex;
  justify-content: center;
}

.upper-right {
  border-radius: 35px;

  padding: 20px;
  transition: 1s;
}

.upper-right :hover {
  color: whitesmoke;
  text-decoration: underline;

  transition: 1s ease-in-out;

  background-color: black;
}

/* modifying the divs inside the upper left class */
.nav-wrapper > .upper-left > div {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

/* adding the color and border to home and about  */
.link-wrap {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

/* wrapping the ipper left links */
.link-wrap a {
  color: lightgray;
  text-decoration: none;
  transition: color 0.5s;
}

/* adding hover effect with pseudo class for border bottom and text color  */
.link-wrap :hover {
  border-bottom: 1px solid black;
}

.skillset {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: underline;
  padding: 50px;
}

.link-wrap a:hover {
  color: black;
}

.portfolio-items-wrapper {
  border-radius: 1%;
  border-color: rgb(121, 145, 177);
  padding: 20px;
  padding-bottom: 10px;
  margin: 90px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-text {
  color: transparent;
  text-decoration: none;
}

@keyframes fade-effect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 70px;
  text-align: center;
}

.about-words {
  padding-bottom: 50px;
}

.link-text:hover {
  color: deepskyblue;
}

/* .portfolio-item-wrapper { */
/* padding-bottom: 50px; */
/* padding-right: 50px; */
/* padding-left: 50px; */
/* position: relative; */
/* } */

.btn-a {
  text-decoration: none;
  color: rgb(102, 96, 96);
}

.btn-a:hover {
  color: black;
}

.btn-1 {
  margin: 40px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  width: 50%;
  height: 100px;
}

.btn-1:hover {
  color: azure;
  border: black;
  text-decoration: underline;
  font-size: 45;
  font-style: normal;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 0 40px 40px rgb(96, 195, 235) inset;
}

.btn-contact-page {
  display: flex;
}

.contact-header {
  font-size: 5vh;
}

.portfolio-img-background {
  color: transparent;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto 0;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.portfolio-img-background:hover {
  text-shadow: 2px 2px 4px lightslategray;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 25px;
  font-weight: 600;
  color: rgb(3, 226, 255);
  text-align: center;
  margin-top: auto 0;
  display: flex;
  justify-content: center;
  transform: scale(1.1);
  /*animation-name: fade-in;*/
  /*animation-duration: 2s;*/
  /* animation-name: slightfade ; */
}

.paragraph {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 50px;
}

.link {
  height: 10px;
  width: 50%;
}

.portfolio-text {
  text-decoration: none;
  color: black;
}

.btn-touch {
  margin-bottom: 90px;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
  color: rgb(131, 210, 224);
  background-color: floralwhite;
  border-radius: 10px;
  transition: 1s;
}

.btn-touch:hover {
  text-decoration: underline;
  color: black;
  background: rgb(231, 231, 231);
}

.black {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .portfolio-item-wrapper { */
/* } */



.feedback-text {
  font-size: 25px;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .portfolio-img-background{ */
/* transition: background 1s; */
/* } */
.portfolio-img-background:hover .black {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  height: 350px;
  transition: background 2s;
  border-radius: 1%;
}

.img-text-wrap {
  color: lightgrey;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: px;
  margin-left: 5px;
  font-size: 20px;
  /* position: absolute; */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  height: 100%;
}

.subtitle {
  height: 50px;
  color: transparent;
  font-weight: 200;
}

.subtitle2 {
  height: 350px;
  color: red;
  font-weight: 200;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20%;
  text-align: center;
  margin: auto 0;
}

.subtitle:hover {
  text-shadow: 2px 2px 4px lightslategray;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 25px;
  font-weight: 600;
  color: rgb(3, 226, 255);
}

.subtitle2:hover {
  text-shadow: 2px 2px 4px lightslategray;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 2l5px;
  font-weight: 600;
  color: rgb(3, 226, 255);
  margin: auto 0;
}

.about-image {
  width: 100%;
  height: 950px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.container2 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 5s;
}

.aboutme-image {
  border-radius: 15%;
  height: 400px;
}

.brand {
  background: honeydew;
  padding: 20px;
  border-radius: 100%;
}

.subtitle:hover {
  text-shadow: 2px 2px 4px lightslategray;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 25px;
  font-weight: 600;
  color: rgb(3, 226, 255);
}

.subtitle2:hover {
  text-shadow: 2px 2px 4px lightslategray;
  transition: 0.5s;
  font-weight: bolder;
  font-size: 25px;
  font-weight: 600;
  color: rgb(3, 226, 255);
  margin: auto 0;
}

.get-brighter {
  transition: 0.5s;
  filter: brightness(10%);
}

@keyframes getdark {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(10%);
  }
}

@keyframes slightfade {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(50%);
  }
}

.about-header {
  display: flex;
  justify-content: center;
}

.about-text {
  font-size: 30px;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.contact-header {
  display: flex;
  justify-content: center;
}

.buttons-class {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.btn-contact {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.color-change {
  color: red;
  font-size: 50px;
}

.skillslist {
  margin-bottom: 200px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.skillslist li i {
  color: darkblue;
}

.picture{
  
  max-width: 100%;
        max-height: 100%;
        display: block;
}



.skillslist:hover li i {
  transform: scale(1.3);
  transition: 0.8s;
}

@media (max-width: 500px) {
  .wrap {
    margin-left: 200px;
  }

  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    font-size: 10px;
  }
  .feedback{
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
  }

  .mattpic {
    align-items: center;
    margin-right: 399px;
  }

  .skillset {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  .skillslist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-items-wrapper {
    display: flex;
    flex-direction: column;
  }

  .name-head {
    text-shadow: 2px 2px 4px lightslategray;
    font-size: 35px;
  }

  .description {
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-contact-page {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
  }

  .link-text {
    color: rgb(3, 226, 255);
    align-items: center;
    text-align: center;
  }

  .nav-wrapper {
    font-size: 15px;
    align-items: center;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: space-around;
  }

  .upper-right {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 40%;
    margin-top: 20px;
  }

  .upper-left {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    font-size: 100px;
  }

  .contact-header {
    font-size: 30px;
  }
}
